<div class="body_2">
    {% if messages%}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" id="#messages">
        {{ message }}
        <button class="close" id="#close" onclick="close_msg()">X</button>
    </div>
    {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Sign In</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fa fa-facebook-square"></i></span>
                            <span><i class="fa fa-google-plus-square"></i></span>
                            <span><i class="fa fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            {# <input type="text" class="form-control" placeholder="email">#}
                            {{ login_form.email }}
                            {% if login_form.email.help_text %}#}
                            <small style="color: grey;">{{ login_form.email.help_text }}</small>
                            {% endif %}

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-key"></i></span>
                            </div>
                            {# <input type="password" class="form-control" placeholder="password">#}
                            {{ login_form.password }}<br>
                            {% if login_form.password.help_text %}
                            <small style="color: grey;">{{ login_form.password.help_text }}</small>
                            {% endif %}
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-right login_btn">
                        </div>
                        {% for field in login_form %}
                        {% for error in field.errors %}
                        <p style="color: red;">{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                        {% if login_form.non_field_errors %}
                        <div style="color: red;font-size: 20px;">
                            <span>{{ login_form.non_field_errors }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="{% url 'account:register'%}">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#" style="color: white">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
<style>
    @import url("https://fonts.googleapis.com/css?family=Numans");

    .body_2 {
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: "Numans", sans-serif;
    }

    .container {
        height: 457px;
        margin-top: 100px;
        align-content: center;
    }

    .card {
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #ffc312;
    }

    .social_icon span:hover {
        color: white;
        cursor: pointer;
    }

    .card-header h3 {
        color: white;
    }

    .social_icon {
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #ffc312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .remember {
        color: white;
    }

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .login_btn {
        color: black;
        background-color: #ffc312;
        width: 100px;
    }

    .login_btn:hover {
        color: black;
        background-color: white;
    }

    .links {
        color: white;
    }

    .links a {
        margin-left: 4px;
    }
</style>
